<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--Connction string for spoonacular api-->
	<connectionStrings>
		<clear />
		<add name="default"   connectionString="https://api.spoonacular.com" />
	</connectionStrings>
	<!--Spoonacular api key-->
	<appSettings>
		<add key="APIKey" value="b00ad023a74c4a15883a8c12edc57750" />
	</appSettings>
</configuration>